{% extends template('page-layout-main') %}

{% block headTitle %}
    {{ customerAddress.name }}
{% endblock %}

{% block content %}
    <div class="storefinder-store-view">
        <div id="storefinder-map"
             class="storefinder-map"
             data-storeid ="{{ customerAddress.storeId }}"
             data-latitude = "{{ customerAddress.latitude }}"
             data-longitude = "{{ customerAddress.longitude }}"
             data-zoomlevel = "14">
        </div>

        <div class="container center">
            <h1>
                {{ customerAddress.name }}
            </h1>

            <div class="store--content">
                <div class="address">
                    <span>
                        {{ customerAddress.street }}<br/>
                        {{ customerAddress.zipCode }} {{ customerAddress.city }}<br/>
                        {% set countryCodeTranslationKey = 'countries.iso.' ~ customerAddress.countryCode %}
                        {{ countryCodeTranslationKey | trans }}<br/>
                    </span>

                    <div class="address-contact">
                        <div class="address-contact-buttons">
                            {% if customerAddress.phone %}
                                <a class="storefinder-address-contact-button" href="#" data-value="phone">
                                    <span>
                                        {{ 'storefinder.phone' | trans}}
                                    </span>
                                </a>
                            {% endif %}

                            {% if customerAddress.mail %}
                                <a class="storefinder-address-contact-button" href="#" data-value="email">
                                    <span>
                                         {{ 'storefinder.mail' | trans}}
                                     </span>
                                </a>
                            {% endif %}

                            {% if customerAddress.website %}
                                <a class="storefinder-address-contact-button" href="#" data-value="website">
                                    <span>
                                         {{ 'storefinder.website' | trans}}
                                     </span>
                                </a>
                            {% endif %}

                            <a class="storefinder-address-contact-button" target="_blank" href="http://maps.google.com/?q={{ customerAddress.latitude }},{{ customerAddress.longitude }}">
                                <span>
                                     {{ 'storefinder.route' | trans}}
                                </span>
                            </a>
                        </div>

                        <div class="address-contact-items">
                            {% if customerAddress.phone %}
                                <div class="item phone">
                                    <span>
                                        {{ 'storefinder.phone' | trans}}:
                                    </span>
                                    <a href="tel:{{ customerAddress.phone }}">
                                        {{ customerAddress.phone }}
                                    </a>
                                </div>
                            {% endif %}

                            {% if customerAddress.mail %}
                                <div class="item email">
                                    <span>
                                        {{ 'storefinder.mail' | trans}}:
                                    </span>
                                    <a href="mailto:{{ customerAddress.mail }}">
                                        {{ customerAddress.mail }}
                                    </a>
                                </div>
                            {% endif %}

                            {% if customerAddress.website %}
                                <div class="item website">
                                    <span>
                                        {{ 'storefinder.website' | trans}}:
                                    </span>
                                    <a href="http://{{ customerAddress.website }}" target="_blank" rel="nofolow">
                                        {{ customerAddress.website }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <a href="{{ backUrl }}">
                {{ 'storefinder.back' | trans }}
            </a>
        </div>
    </div>
{% endblock %}
