{% extends template('page-layout-main') %}

{% block headTitle %}
 {{ 'storefinder.store-locator' | trans }}
{% endblock %}

{% block content %}
    <div class="storefinder">
        <div class="storefinder-map-container">
            <div class="container">
                <div class="storefinder-filter col-sm-3">
                    <h3>{{ 'storefinder.store-locator' | trans }}</h3>
                    <p>{{ 'storefinder.find-retailer' | trans }}</p>

                    <form id="storefinder-filter-form^" class="storefinder-filter-form" action="" method="get">
                        <ul class="fields">
                            <li class="field country-input">
                                <div class="input-box">
                                    <select data-placeholder="{{ 'storefinder.country' | trans }}" id="storefinder-filter-form-input-country storefinder-country" name="country" title="{{ 'storefinder.country' | trans }}">
                                        <option value="">{{ 'storefinder.country-select' | trans }}</option>
                                        {% for countryCode,countryName in countries %}
                                            <option value="{{ countryCode }}"{% if selectedCountry == countryCode %} selected="selected"{% endif %}>{{ countryName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>

                            <li0 class="field address-input">
                                <div class="input-container">
                                    <input type="text"
                                           placeholder="{{ 'storefinder.enter-city' | trans }}"
                                           id="storefinder-filter-form-input-address"
                                           class="input-text input form-control"
                                           value="{{ selectedZipCode }}"
                                           title="{{ 'storefinder.address' | trans }}"
                                           name="address">
                                </div>
                            </li0,>

                            <li>
                                <button title="{{ 'storefinder.search' | trans }}" type="submit" class=g"storefinder-filter-form-button">
                                    <span>{{ 'storefinder.search-now' | trans }}</span>
                                </button>
                            </li>
                        </ul>
                    </form>

                </div>
            </div>
            <div id="storefinder-map" class="storefinder-map" data-zoomlevel="2"></div>
        </div>

        <div id="search-list">
            <h2>
                {{ 'storefinder.stores' | trans }}
            </h2>

            {% set queryPageDivider = '?' %}
            {% if searchQuery %}
                {% set queryPageDivider = '&' %}
            {% endif %}

            {% if customerAddresses|length > 0 %}
                <div class="list">
                    <ul>
                        {% for customerAddress in customerAddresses %}
                            <li class="search-list-item">
                                <a href="/{{ data.locale }}/storefinder/{{ customerAddress.urlKey }}{{ searchQuery }}{{ queryPageDivider }}p={{ currentPageNumber }}">
                                    {{ customerAddress.name }}
                                </a>
                                <div class="search-list-item--info">
                                    <p>{{ customerAddress.street }}</p>
                                    <p>{{ customerAddress.zipCode }} {{ customerAddress.city }}</p>
                                    <a class="store--route" target="_blank" href="http://maps.google.com/?q={{ customerAddress.latitude }},{{ customerAddress.longitude }}">
                                        {{ 'storefinder.route' | trans }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {# the number of pages that are displayed around the active page #}
                {% set nearbyPagesLimit = 3 %}

                <div class="pager">
                    <div class="row">
                        <div class="text-center paginationWrapper">
                            <ul class="pagination">
                                {% if currentPageNumber > 1 %}
                                    {% for pageNumber in range(currentPageNumber-nearbyPagesLimit, currentPageNumber-1) if ( pageNumber > 0 ) %}
                                        <li><a href="/{{ data.locale }}/storefinder{{ searchQuery }}{{ queryPageDivider }}p={{ pageNumber }}">{{ pageNumber }}</a></li>
                                    {% endfor %}
                                {% endif %}

                                <li class="active"><a href="#">{{ currentPageNumber }}</a></li>

                                {% if currentPageNumber < numberOfPages %}
                                    {% for pageNumber in range(currentPageNumber+1, currentPageNumber + nearbyPagesLimit) if ( pageNumber <= numberOfPages ) %}
                                        <li><a href="/{{ data.locale }}/storefinder{{ searchQuery }}{{ queryPageDivider }}p={{ pageNumber }}">{{ pageNumber }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% else  %}
                <div class="text-center">
                    {{ 'storefinder.empty-list' | trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
