<div>
    <p class="marker-title">
        {{ name }}
    </p>
    <p>
        {{ street }}<br/>
        {{ zipCode }} {{ city }}
    </p>
    <p>
        <a href="/{{ currentLanguage }}/storefinder/{{ urlKey }}{{ searchQuery }}">
            {{ 'storefinder.details' | trans }}
        </a>
    </p>
</div>